body {
    background-color: rgb(116, 119, 117);
}

#top_menu {
    background-color: rgb(24, 24, 24);
    color: white;
    padding: 10px
}

#bottom_menu {
    padding: 10px
}

.listings_images{
    width: 300px;
    height: 300px;
    object-fit: cover;
    display: block;
    border: 1px solid whitesmoke;
}

.listing_image{
    width: 700px;
    height: 500px;
    object-fit: cover;
    display: block;
    border: 1px solid whitesmoke;
}

.listing{
    display: flex;
    margin-bottom: 20px;
}

.listing_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

#listing_link {
    text-decoration: none;
    color: inherit;
}

.frame{
    background-color: rgb(182, 182, 182);
}

.description_background{
    height:100px; 
    width: 50%;
    padding-left: 10px;
}

.categories-container {
    max-width: 250px;
    margin-top: 20px;
}

.category_menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.category_button {
    background-color: green; /* rojo Bootstrap */
    color: black;
    border: none;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.category_button:hover {
    background-color: darkgreen;
}

.bid_status{
    font-weight: bold; 
    font-size: 18px;
}

.input_style{
    width: 50%; 
    border-radius: 5px; 
    padding: 10px;
    border: none;
}