body {
    background-color: rgb(116, 119, 117);
}

#top_menu {
    background-color: rgb(24, 24, 24);
    color: white;
    padding: 10px
}

#bottom_menu {
    padding: 10px
}

.listings_images{
    width: 300px;
    height: 300px;
    object-fit: cover;
    display: block;
    border: 1px solid whitesmoke;
}

.listing_image{
    width: 700px;
    height: 500px;
    object-fit: cover;
    display: block;
    border: 1px solid whitesmoke;
}

.listing{
    display: flex;
    margin-bottom: 20px;
}

.listing_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

#listing_link {
    text-decoration: none;
    color: inherit;
}

.add_to_watchlist {
    
}

.close_listing{
    position: relative;
    left: 5%;
}

.frame{
    background-color: rgb(182, 182, 182);
}

.description_background{
    height:100px; 
    width: 50%;
    padding-left: 10px;
}