{% extends "auctions/layout.html" %}

{% block title %}Categories{% endblock %}

{% block body %}
    <h2>Categories</h2>
    <div class="categories">
        <form method="POST" action="{% url 'categories' %}">
            {% csrf_token %}
            <ul>
                {% for category in categories %}
                    <li>
                        <button class="category_button" 
                        type="submit" name="category" value="{{ category }}">{{ category }}</button>
                    </li>
                {% endfor %}
            </ul>
        </form>
    </div>
{% endblock %}