{% extends "auctions/layout.html" %}

{% block title %}Categories{% endblock %}

{% block body %}
    <h2>Categories</h2>
    <div class="categories-container">
        <form method="POST" action="{% url 'categories' %}">
            {% csrf_token %}
            <div class="category_menu">
                {% for category in categories %}
                    <button type="submit" name="category" value="{{ category }}" class="category_button">
                        {{ category }}
                    </button>
                {% endfor %}
            </div>
        </form>
    </div>    
{% endblock %}