{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <ul>
        {% for list in listings %}
            <a href="{% url 'listingItem' listing_name=list.name listing_id=list.id %}" id="listing_link">
                <li class="listing">
                    <div>
                        <img id="listing_image" src="{{ list.image.url }}">
                    </div>
                    <div class="listing_info">
                        <ul>
                            {% for key, value in list %}
                                {% if key == "price" %}
                                    <li>${{ value }}</li>
                                {% else %}
                                    <li> {{ value }} </li>
                                {% endif %}
                                
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            </a>
            <hr>
        {% empty %}
            <p>No active listings available.</p>
        {% endfor %}
    </ul>
{% endblock %}