{% extends "auctions/layout.html" %}

{% block title %}Listing{% endblock %}

{% block body %}
        <h2>Listing: {{ listing_name }}</h2>
        <div div class="add_to_watchlist">
            <form method="POST" action="{% url 'watchlist' %}">
                {% csrf_token %}
                <input type="hidden" name="action" value="add">
                <button class="btn btn-primary" type="submit" name="listing_id" value="{{ listing.id }}">Add to Watchlist</button>
            </form>
        </div>
    <div>
        <div style="margin: 0 auto; width: fit-content;">
            {% if listing.image %}
                <img src="{{ listing.image.url }}" alt="Listing Image" class="listing_image">
            {% else %}
                <p style="border: 2px solid black; width: 75%; text-align: center;">No image available</p> 
            {% endif %}
        </div>
    </div>
    <div>
        <div class="mb-3">
            <span style="font-size: 32px; font-weight: bold;">$ {{ listing.price }}</span>
        </div>
        <div style="font-size: 18px;">
            <div class="mb-3">
                <strong>Description:</strong>
                <div class="frame description_background">
                    {{ listing.description }}
                </div>
            </div>
        
            <div class="mb-2">
                <strong>Category:</strong> <strong style="color:blue">{{ listing.category }}</strong> 
            </div>
        
            <div>
                <strong>Listed by:</strong> {{ listing.lister }}
            </div>
        </div>
    </div>
    <p></p>
    {% if listing.closed == True %}
        {% if listing.currentBider == user %}
            <span class="bid_status" style="color:rgb(223, 0, 0)">This listing is closed. You are the winner!</span>
        {% else %}
            <span class="bid_status" style="color:rgb(223, 0, 0)">This listing is closed. {{ listing.currentBider }} is the winner.</span>
        {% endif %}
    {% else %}
        <div class="bid_section">
            <div class="bid_status">
                {% if listing.currentBider == user %}
                    <span>{{ listing.bids.all|length }} bid(s) so far. Your bid is the current bid.</span>
                {% elif listing.currentBider == None %}
                    <span>No bids yet.</span>
                {% else %}
                    <span>{{ listing.bids.all|length }} bid(s) so far. {{ listing.currentBider }}'s bid is the current bid.</span>
                {% endif %}
            </div>
            {% if listing.lister == user %}
                <span>This is your listing</span>
            {% else %}
                <form method="POST"> 
                    {% csrf_token %}
                    <input name="bid" placeholder="Enter your bid" type="number" min="1" class="input_style">
                    <input type="hidden" name="action" value="bid">
                    <button class="btn btn-primary" type="submit" name="listing_id" value="{{ listing.id }}">Submit Bid</button>
                </form>
            {% endif %}
        </div>
    {% endif %}
    <div class="comments_section">
        <div class="mt-4">
            <h5>Comments</h5>
            {% if listing.comments.all %}
                <ul class="list-group">
                    {% for comment in listing.comments.all %}
                        <li class="list-group-item w-75 frame">
                            <div class="text-break">
                                <strong>{{ comment.commenter }}:</strong> {{ comment.comment }}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="alert alert-secondary" role="alert">
                    No comments yet.
                </div>
            {% endif %}
        </div>
        <p></p>
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="action" value="comment">
            <input type="text" name="comment" placeholder="Add a comment" required class="input_style">
            <button class="btn btn-primary" type="submit" name="listing_id" value="{{ listing.id }}">Add comment</button>
        </form>
    </div>
    {% if listing.lister == user %}
        <p></p>
        <div class="close_listing">
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="action" value="close">
                <button class="btn btn-danger" type="submit">Close Listing</button>
            </form>
        </div>
    {% endif %}
{% endblock %}
