{% extends "auctions/layout.html" %}

{% block title %}Listing{% endblock %}

{% block body %}
    <h2>Listing: {{ listing_name }}</h2>
    <div>
        <div>
            {% if listing.image %}
                <img src="{{ listing.image.url }}" alt="Listing Image" class="listing_image">
            {% else %}
                <p style="margin-top: 50%;">No image available</p> 
            {% endif %}
        </div>
    </div>
    {% if listing.lister == user %}
        <div class="close_listing">
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="action" value="close">
                <button type="submit">Close Listing</button>
            </form>
        </div>
    {% endif %}
    <div class="listing_info">
        <ul>
            <p>name: {{ listing.name }}</p>
            <p>Price: ${{ listing.price }}</p>
            <p>Desc: {{ listing.description }}</p>
            <p>Category: {{ listing.category }}</p>
            <p>Lister: {{ listing.lister }}</p>
        </ul>
    </div>
    <div class="add_to_watchlist">
        <form method="POST" action="{% url 'watchlist' %}">
            {% csrf_token %}
            <input type="hidden" name="action" value="add">
            <button type="submit" name="listing_id" value="{{ listing.id }}">Add to Watchlist</button>
        </form>
    </div>
    <p></p>
    {% if listing.closed == True %}
        <p>This listing is closed. {{ listing.currentBider }} is the winner.</p>
    {% else %}
        <div class="bid_section">
            {% if listing.currentBider == user %}
                {{ listing.bids.all|length }} so far. Your bid is the current bid
            {% elif listing.currentBider == None %}
                No bids yet
            {% else %}
                {{ listing.bids.all|length }} so far. {{ listing.currentBider }} bid is the current bid
            {% endif %} 
            {% if listing.lister != user %}
                <form method="POST"> 
                    {% csrf_token %}
                    <input name="bid" placeholder="Bid" type="number"> </input>
                    <input type="hidden" name="action" value="bid">
                    <button type="submit" name="listing_id" value="{{ listing.id }}">Submit Bid</button>
                </form>
            {% endif %}
        </div>
    {% endif %}
    <div class="comments_section">
        <h3>Comments</h3>
        <ul>
            {% for comment in listing.comments.all %}
                <li>{{ comment.commenter }}: {{ comment.comment }}</li>
            {% empty %}
                <p>No comments yet.</p>
            {% endfor %}
        </ul>
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="action" value="comment">
            <input type="text" name="comment" placeholder="Add a comment" required>
            <button type="submit" name="listing_id" value="{{ listing.id }}">Submit</button>
        </form>
    </div>
{% endblock %}
